@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700.css);
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: " ";
  /*Older browser do not support empty content*/
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

body {
  background: #eef9ea;
  font-family: Droid Serif;
  letter-spacing: 0.5px;
  line-height: 25px; }

.nav {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: #53bec2;
  text-align: center;
  word-spacing: 30px; }

.nav li {
  display: inline; }

a:-webkit-any-link {
  text-decoration: none;
  color: #102036; }

h2 a, h3 a:-webkit-any-link {
  color: #102036;
  text-decoration: none;
  border-bottom: 1px dashed;
  border-color: #4fb3b9; }

.content {
  margin: 40px; }
  @media only screen and (min-width: 961px) {
    .content {
      float: left;
      margin: 0;
      width: 70%; } }

h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #4fb3b9;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  border-bottom: solid 1px #53bec2;
  border-top: solid 1px #53bec2; }

h2 {
  padding-top: 10px;
  font-size: 30px; }

h3 {
  padding-top: 7px;
  padding-bottom: 40px;
  color: #4fb3b9; }

h4 {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #359aa2;
  font-size: 20px; }

aside p {
  padding-bottom: 40px; }

a.read_more {
  padding: 15px;
  display: block;
  background: #359aa2;
  text-align: center;
  font-size: 16px;
  color: #53bec2; }

.footer_links {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid 1px #53bec2;
  text-align: center;
  word-spacing: 10px; }

.footer_links li {
  display: inline; }

/* INLINE MEDIA QUERIES */
@media only screen and (min-width: 961px) {
  body {
    border-top: 50px solid #53bec2;
    border-bottom: 50px solid #53bec2;
    border-left: 70px solid #53bec2;
    border-right: 70px solid #53bec2; } }

@media only screen and (max-width: 640px) {
  h1 {
    padding: 0;
    display: block;
    background: #359aa2;
    text-align: center;
    color: #4fb3b9;
    font-size: 12px;
    letter-spacing: 3px; } }

@media only screen and (max-width: 640px) {
  .nav li {
    display: none; } }

@media only screen and (min-width: 961px) {
  article {
    padding: 30px 50px 30px 40px;
    border-right: 1px solid #53bec2; } }

@media only screen and (max-width: 640px) {
  aside {
    display: none; } }
@media only screen and (min-width: 641px) and (max-width: 960px) {
  aside {
    margin: 40px; } }
@media only screen and (min-width: 961px) {
  aside {
    display: inline;
    float: right;
    width: 20%;
    padding-right: 60px;
    padding-top: 20px; } }

@media only screen and (max-width: 640px) {
  .left {
    display: none; } }
@media only screen and (min-width: 641px) and (max-width: 960px) {
  .left {
    display: none; } }
@media only screen and (min-width: 961px) {
  .left {
    padding-top: 23px;
    margin-right: 40px;
    display: inline;
    float: right; } }

@media only screen and (max-width: 640px) {
  .footer_links {
    text-decoration: none; } }
@media only screen and (min-width: 961px) {
  .footer_links {
    margin-left: 40px;
    border-top: none;
    float: left; } }

@media only screen and (min-width: 961px) {
  footer {
    border-top: 1px solid #53bec2; } }
